<header class="app-header">
  <div class="header-content">
    <a [routerLink]="['/menu']" routerLinkActive="router-link-active">
      <img src="../../../assets/logo.png" alt="logo">
    </a>
  </div>

  <div class="nav-bar">
    <nav>
      <a [routerLink]="['/menu']" routerLinkActive="router-link-active">Menu</a>
      <a [routerLink]="['/client-list']" routerLinkActive="router-link-active">Clientes</a>
      <a [routerLink]="['/seller-list']" routerLinkActive="router-link-active">Vendedores</a>
      <a [routerLink]="['/product-list']" routerLinkActive="router-link-active">Produtos</a>
      <a [routerLink]="['/menu']" routerLinkActive="router-link-active">Vendas</a>
      <a [routerLink]="['/menu']" routerLinkActive="router-link-active">Realizar compra</a>
    </nav>
  </div>
</header>
