<app-header></app-header>

<div class="container">
  <h1>Lista de clientes</h1>
  <table>
    <thead>
      <tr>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>CPF</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      @for (client of list; track $index) {
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.cpf}}</td>
        <td class="btn-edit-delete">
          <button type="button" (click)="edit(client)">Editar</button>
          <button type="button" class="delete" (click)="openConfirm(client.id)">Deletar</button>
        </td>
      </tr>

      <app-confirm-delete
        [show]="showModal"
        (confirm)="deleteById()"
        (cancel)="showModal = false"
        [message]="'Você tem certeza que deseja deletar esse item?'">
      </app-confirm-delete>
    }
    </tbody>
  </table>

  <button [routerLink]="['/client-register']" routerLinkActive="router-link-active" >Adicionar cliente</button>

  <app-error-modal
    [show]="showErrorModal"
    [message]="errorMessage"
    (confirm)="showErrorModal = false">
  </app-error-modal>
</div>
