<app-header></app-header>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>NOME</th>
        <th>EMAIL
          <!--<button (click)="ordenarPorPreco()">Ordenar ▼</button>-->
        </th>
        <th>CPF</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      @for (seller of lista; track $index) {
      <tr>
        <td>{{seller.name}}</td>
        <td>{{seller.email}}</td>
        <td>{{seller.cpf}}</td>
        <td class="btn-edit-delete">
          <button type="button">Editar</button><!--(click)="edit(seller)"-->
          <button type="button" class="delete">Deletar</button><!--(click)="deleteById(produto.id)"-->
        </td>
      </tr>
    }
    </tbody>
  </table>

  <button [routerLink]="['/client-register']" routerLinkActive="router-link-active" >Adicionar produto</button>
</div>
