.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

table {
  width: 600px;
  font-size: 16px;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 10px;
}

thead {
  background-color:rgb(0, 102, 255);
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
  text-align: center;
}

tbody tr {
  background-color: #f4f8fb;
}

th {
  text-align: center;
  font-weight: bold;
}

td {
  border-top: 1px solid #ddd;
}

.quantity{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.btn-add-sub{
  display: flex;
  gap: 5px;
}

.btn-add, .btn-sub{
  cursor: pointer;
}

.summary-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.delete{
  background-color: red;
}

.delete:hover{
  background-color: rgb(192, 0, 0);
}

button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(0, 102, 255);
  color: white;
  font-weight: bold;
  transition: 0.4s;
}

button:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 178);
}


