<app-header></app-header>

<h1>Resumo da Compra</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    @for (product of list; track $index) {
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>R$ {{ product.price | number: '1.2-2' }}</td>
      <td>R$ {{ (product.price * product.quantity) | number: '1.2-2' }}</td>
    </tr>
  }
  </tbody>
</table>

<h3>Total Geral: R$ {{ getTotal() | number: '1.2-2' }}</h3>

<label for="client">Selecione o cliente:</label>
<select [(ngModel)]="selectedClientId" name="client" id="client">
  <option [value]="null" disabled selected>-- Selecione --</option>
  <option *ngFor="let c of clients" [value]="c.id">{{ c.name }}</option>
</select>

<button (click)="finalizePurchase()">Finalizar Compra</button>
