<app-header></app-header>

<div class="container">
  <h1>Lista de vendedores</h1>
  <table>
    <thead>
      <tr>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>DATA DE REGISTRO</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      @for (seller of list; track $index) {
      <tr>
        <td>{{seller.name}}</td>
        <td>{{seller.email}}</td>
        <td>{{seller.registrationDate | date:'dd/MM/yyyy'}}</td>
        <td class="btn-edit-delete">
          <button type="button" (click)="edit(seller)">Editar</button>
          <button type="button" class="delete" (click)="openConfirm()">Deletar</button>
        </td>
      </tr>

      <app-confirm-delete
        [show]="showModal"
        (confirm)="deleteById(seller.id)"
        (cancel)="showModal = false"
        [message]="'Você tem certeza que deseja deletar esse item?'">
      </app-confirm-delete>
    }
    </tbody>
  </table>

  <button [routerLink]="['/seller-register']" routerLinkActive="router-link-active" >Adicionar vendedor</button>
</div>
