:root{
  --primary-color: #0d6efd;
  --secundary-color: #003b94;
  --hover-color: #007bff;
  --button-color: #4fa4ff;
  --backgorund-color: rgb(232, 232, 232);
  --title-color: #333;
  --border-color: #ccc;
}

body, html {
  background-color: var(--backgorund-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

