<app-header></app-header>

<div class="product-form-wrapper">
  <div class="form-container">
    <div class="form-left">
      <img src="../../../assets/logo.png" alt="logo">
    </div>

    <div class="form-right">
      <h3>Insira os dados do produto</h3>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" placeholder="Nome do produto" formControlName="name" />
        <div class="error" *ngIf="f.name.touched && f.name.invalid">É necessário inserir nome.</div>

        <input type="number" placeholder="Quantidade de estoque" formControlName="stock" />
        <div class="error" *ngIf="f.stock.touched && f.stock.errors?.['required']">É necessário inserir quantidade de estoque.</div>
        <div class="error" *ngIf="f.stock.touched && f.stock.errors?.['min']">O estoque precisa ser 0 ou maior.</div>

        <input type="number" step="0.01" placeholder="Preço (R$)" formControlName="price" />
        <div class="error" *ngIf="f.price.touched && f.price.errors?.['required']">É necessário inserir preço.</div>
        <div class="error" *ngIf="f.price.touched && f.price.errors?.['min']">O preço precisa ser um valor maior que 0.</div>

        <input type="text" [value]="form.value.registrationDate | date:'dd/MM/yyyy'" disabled />

        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
