<app-header></app-header>

<div class="seller-form-wrapper">
  <div class="form-container">
    <div class="form-left">
      <img src="../../../assets/logo.png" alt="logo">
    </div>

    <div class="form-right">
      <h3>Insira os dados do vendedor</h3>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" placeholder="Nome completo" formControlName="name" />
        <div class="error" *ngIf="f.name.touched && f.name.invalid">É necessário inserir seu nome.</div>

        <input type="email" placeholder="Email" formControlName="email" />
        <div class="error" *ngIf="f.email.touched && f.email.errors?.['required']">É necessário inserir seu e-mail.
        </div>
        <div class="error" *ngIf="f.email.touched && f.email.errors?.['email']">Endereço de e-mail inválido</div>

        <input type="password" [placeholder]="isEditMode
          ? 'Senha (deixe em branco para manter a atual)'
          : 'Senha'" formControlName="password" />
        <div class="error" *ngIf="f.password.touched && f.password.invalid && !isEditMode">
          É necessário inserir sua senha.
        </div>

        <input type="text" [value]="form.value.registrationDate | date:'dd/MM/yyyy'" disabled />

        <button type="submit">Registrar</button>
      </form>
    </div>
  </div>
  <app-error-modal
    [show]="showErrorModal"
    [message]="errorMessage"
    (confirm)="showErrorModal = false">
  </app-error-modal>
</div>
