<app-header></app-header>

<div class="client-form-wrapper">
  <div class="form-container">
    <div class="form-left">
      <img src="../../../assets/logo.png" alt="logo">
    </div>

    <div class="form-right">
      <h3>Insira os dados do cliente</h3>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" placeholder="Nome completo" formControlName="name" />
        <div class="error" *ngIf="f.name.touched && f.name.invalid">É necessário inserir seu nome.</div>
        <input type="email" placeholder="Email" formControlName="email" />
        <div class="error" *ngIf="f.email.touched && f.email.errors?.['required']">É necessário inserir seu e-mail.</div>
        <div class="error" *ngIf="f.email.touched && f.email.errors?.['email']">Endereço de email inválido.</div>

        <input type="number" placeholder="CPF" formControlName="cpf" />
        <div class="error" *ngIf="f.cpf.touched && f.cpf.invalid">É necessário inserir seu CPF.</div>

        <input type="password" placeholder="Senha" formControlName="password" />
        <div class="error" *ngIf="f.password.touched && f.password.invalid">É necessário inserir sua senha</div>

        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
